.copy-text {
  margin: 20px auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #d8f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px; /* Limit width */
}

.copy-text textarea {
  width: calc(100% - 40px);
  height: 90px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(252, 244, 233) ;
}

.copy-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-text button:hover {
  background-color: #0056b3;
}

.copy-text h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}

.copy-text input {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
